/* NavBar */
header{
    box-shadow:  0px 5px 5px -3px rgba(50, 50, 93, 0.25);   
}

/* searchbox */

.search-btn{
    color: tomato; 
}
.search-form{
    border: 1px solid tomato;
    border-radius: 3%;
}

/* Product */

.home-card{
    border: 1px solid green;
    height: 30rem;
}

.card-btn:hover{
    background-color: grey;
}

.footer{
    border-top-width:5px;  
    border-top-style:groove;
}

/* product screen */

.cart-button:hover{
    color: black;
    background-color: tomato;
}

.review-section{
    margin-top: 80px;
    margin-bottom: 50px;
}

.show-review{
   background-color: grey;
   color:white;
   padding: 10px;
   
}

.accordion-header{
    background-color: grey;
}

/* cart Screen */

.trash-icon{
    color: red;
}

.cart-header{
    background-color: grey;
    color:white;
}

.btn-cart:hover{
     background-color:tomato;
}

/* login screen */

.signin-btn:hover{
    background-color: tomato;
}

/* payment screen */

.payment-header{
    background-color: grey;
    color: white;
}

.payment-container{
    margin-top: 100px;
}

/* place order screen */

.shipping-section{
    margin-top: 50px;
}

.shipping{
    background-color: green;
    padding: 10px;
    
}

.payment{
    background-color: rgb(60, 22, 197);
    padding: 10px;
}

.item-section{
    background-color: grey;

}

.item-header{
    background-color: tomato;
    padding: 10px;
}

.summary-header{
    background-color: grey;
    color: white;
}

/* order screen */

.order-id{
    background-color: rgb(19, 231, 125);
    padding: 10px;
}

/* contact screen */

.contact-header{
    text-align: center;
    padding: 50px;
}

.contact-end{
    background-color: rgb(7, 100, 19);
    margin: 20px;
    padding: 10px;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 80px;
}

.contact-end h6{
   
    color: white;
 
}